@import "tailwindcss";

@layer components {
    .header-container {
        @apply container mx-auto px-4 py-4 flex justify-between items-center;
    }

    .nav-link {
        @apply text-gray-600 hover:text-purple-600 font-medium transition-colors relative;
    }

    .nav-link-active {
        @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-purple-500 transition-all group-hover:w-full;
    }
}