@import "tailwindcss";

@layer components {
    .section-padding {
        @apply py-20 px-4;
    }

    .container-main {
        @apply container mx-auto px-4;
    }

    .text-gradient {
        @apply bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500 bg-clip-text text-transparent;
    }
}